# Package maneger
package-lock.json
node_modules
yarn.lock
*.log

# vscode
.vscode

# vuepress
**/.vuepress/.*
**/**/dist

# 百度链接推送
urls.txt

# Vdoing
theme-vdoing
utils

# tmp
baiduPush.sh
deploy.sh
test.md

# obsidian
**/.obsidian
**/.obsidian/workspace
**/.obsidian/remotely-save

# notes
src/research
src/tmp
src/*.md
