/*
 * @name: bilibili外链播放器的样式
 *
 * @year: 2020.11.16
 * @discription: 使用时html需要<div class="btv"><iframe></div>
 *
*/

.btv 
    position relative
    width  100%
    height  0px
    padding-bottom  75%


.btv iframe 
    position  absolute
    width  100%
    height  100%
    left  0px
    top  0
	
/*
 * @name: 重新定义标题样式
 *
 * @year: 2020.11.16
 *
*/
// 清掉冲突样式
.theme-vdoing-content h1,.theme-vdoing-content h2,.theme-vdoing-content h3,.theme-vdoing-content h4,.theme-vdoing-content h5 
	margin-top: 2rem !important;
	padding-top: 0rem !important;
	margin-bottom: 1rem !important;
	
// h2 底部一条分割线，不用改
// h3 左边加竖线
.theme-vdoing-content h3 
  margin: 1.6em auto 1.2em;
  //padding-left: 6px;
  font-size: 1.35rem;
  line-height: 1.43;

.theme-vdoing-content h3:before
	content: ''
	height: 2rem
	width: 6px
	display: inline-block;
	vertical-align: middle;
	background-color: var(--textLightenColor);
	//border-left: 6px solid var(--textLightenColor);
	margin-bottom: .18em;
	margin-right: 8px 


// h4前面加点点
/* h4:before {
    content: '';
    border-right: 6px solid #000000;
    margin-right: 8px;
    margin-left: 0;
    padding-left: 0;
    height: auto;
    margin-bottom: .18em;
}
 */
.theme-vdoing-content h4:before {
  border-radius: 50%;
  background-color: var(--textLightenColor);
  content: '';
  width: 6px;
  display: inline-block;
  height: 6px;
  vertical-align: middle;
  margin-bottom: .18em;
  margin-right: 8px 
}
.theme-vdoing-content h4 
  font-size: 1.25rem

.theme-vdoing-content h5
  font-size: 16px

// h5 前面加小短线
.theme-vdoing-content h5:before {
  // background-color: #2486b9;
  background-color: var(--textLightenColor);
  content: '';
  width: 6px;
  display: inline-block;
  height: 2px;
  vertical-align: middle;
  margin-bottom: .18em;
  margin-right: 8px
}

.theme-vdoing-wrapper 
  box-shadow: none !important

/*
 * @name: 修改code-group样式
 *
 * @year: 2021.01.29
 *
*/
.theme-code-group
  padding-bottom: 0px !important
  padding-top: 5px !important

.theme-code-group__nav
  margin-bottom: -10px !important
  padding-bottom: 0px !important

/*
 * @name: 修改vuepress-plugin-element-tabs样式
 *
 * @year: 2021.01.29
 *
*/
.el-tabs.el-tabs--border-card
  box-shadow: none !important

.el-tabs__item.is-active
  color: $accentColor !important 

.el-tabs__item:hover
  color: $accentColor !important 

.el-tabs--border-card
  background: none !important

/*
 * @name: 修改目录页样式 图片按比例自适应
 *
 * @year: 2021.01.29
 *
*/
.theme-vdoing-content .column-wrapper img 
  display: inline-block !important
  height: auto !important
  max-width: 100% !important

/*
 * @name: 滚动条
 *
 * @year: 2021.02.08
 *
*/
// 滚动条样式
@media (min-width: 719px)
  ::-webkit-scrollbar 
      width: 6px !important
      height: 12px !important

@media (min-width: 719px)
  ::-webkit-scrollbar-track-piece 
      background-color: rgba(0,0,0,.15) !important
      -webkit-border-radius: 0px !important


/* ::-webkit-scrollbar 
    width: 6px !important
    height: 12px !important


::-webkit-scrollbar-track-piece 
    background-color: rgba(0,0,0,.15) !important
    -webkit-border-radius: 0px !important */

// 为溢出的内容添加滚动条
// 公式
section 
  overflow-x: auto

//.vuepress-eqn
//      overflow-x: auto



// 评论区颜色重置
/* .gt-container
  .gt-ico-tip
    &::after
      content: '。( Win + . ) 或 ( ⌃ + ⌘ + ␣ ) 打开表情'
      color: #999
      font-size: .8rem
  .gt-meta
    border-color var(--borderColor)!important
  .gt-comments-null
    color var(--textColor)
    opacity .5
  .gt-header-textarea
    color var(--textColor)
    background rgba(180,180,180,0.1)!important
  .gt-btn
    border-color $accentColor!important
    background-color $accentColor!important
  .gt-btn-preview
    background-color rgba(255,255,255,0)!important
    color $accentColor!important
  a
    color $accentColor!important
  .gt-svg svg
    fill $accentColor!important
  .gt-comment-content,.gt-comment-admin .gt-comment-content
    background-color rgba(150,150,150,0.1)!important
    &:hover
      box-shadow 0 0 25px rgba(150,150,150,.5)!important
    .gt-comment-body
      color var(--textColor)!important
 */

// qq徽章
/* .qq
  position: relative;
.qq::after
  content: "可撩";
  background: $accentColor;
  color:#fff;
  padding: 0 5px;
  border-radius: 10px;
  font-size:12px;
  position: absolute;
  top: -4px;
  right: -35px;
  transform:scale(0.85); */

// demo模块图标颜色
body .vuepress-plugin-demo-block__wrapper
  &,.vuepress-plugin-demo-block__display
    border-color rgba(160,160,160,.3)
  .vuepress-plugin-demo-block__footer:hover
    .vuepress-plugin-demo-block__expand::before
      border-top-color: $accentColor !important;
      border-bottom-color: $accentColor !important;
    svg
      fill: $accentColor !important;



