/*
 * @name: bilibili外链播放器的样式
 *
 * @year: 2020.11.16
 * @discription: 使用时html需要<div class="btv"><iframe></div>
 *
*/

.btv {
  position: relative;
  width: 100%;
  height: 0px;
  padding-bottom: 75%;
}

.btv iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0;
}


/*
 * @name: 重新定义标题样式
 *
 * @year: 2020.11.16
 *
*/
// 清掉冲突样式
.theme-vdoing-content h1,
.theme-vdoing-content h2,
.theme-vdoing-content h3,
.theme-vdoing-content h4,
.theme-vdoing-content h5 {
  margin-top: 2rem !important;
  padding-top: 0rem !important;
  margin-bottom: 1rem !important;
}

// h2 底部一条分割线，不用改
// h3 左边加竖线
.theme-vdoing-content h3 {
  margin: 1.6em auto 1.2em;
  //padding-left: 6px;
  font-size: 1.35rem;
  line-height: 1.43;
}

.theme-vdoing-content h3:before {
  content: '';
  height: 2rem;
  width: 6px;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--textLightenColor);
  //border-left: 6px solid var(--textLightenColor);
  margin-bottom: .18em;
  margin-right: 8px
}

// h4前面加点点
/* h4:before {
    content: '';
    border-right: 6px solid #000000;
    margin-right: 8px;
    margin-left: 0;
    padding-left: 0;
    height: auto;
    margin-bottom: .18em;
}
 */
.theme-vdoing-content h4:before {
  border-radius: 50%;
  background-color: var(--textLightenColor);
  content: '';
  width: 6px;
  display: inline-block;
  height: 6px;
  vertical-align: middle;
  margin-bottom: .18em;
  margin-right: 8px;
}

.theme-vdoing-content h4 {
  font-size: 1.25rem;
}

.theme-vdoing-content h5 {
  font-size: 16px;
}

// h5 前面加小短线
.theme-vdoing-content h5:before {
  // background-color: #2486b9;
  background-color: var(--textLightenColor);
  content: '';
  width: 6px;
  display: inline-block;
  height: 2px;
  vertical-align: middle;
  margin-bottom: .18em;
  margin-right: 8px;
}

.theme-vdoing-wrapper {
  box-shadow: none !important;
}

/*
 * @name: 滚动条
 *
 * @year: 2021.02.08
 *
*/
// 滚动条样式
@media (min-width: 719px) {
  ::-webkit-scrollbar {
    width: 6px !important;
    height: 12px !important;
  }
}

// theme-hope 修改

// 页脚与正文留白加大
.footer-wrapper {
  margin-top: -2rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

// 侧边栏缩进
.sidebar-links ul {
  padding-left: 1rem !important;
}
.sidebar-group .sidebar-link {
  padding-left: 1rem !important;
  // margin-left: 1rem !important;
  // width: auto !important;
}
.sidebar-group .sidebar-group {
  padding-left: 0rem !important;
}
.sidebar-heading {
  padding: .35rem 1rem .35rem 1rem !important;
}
// 侧边栏活动的选项高亮
.sidebar-heading.active{
  color: var(--theme-color) !important;
  a{
    color: var(--theme-color) !important;
  }
}
.sidebar-link.active {
  border-left-color: transparent !important;
  // border-left-color: var(--theme-color);
  // background-color: var(--theme-color-mask);
  // color: var(--theme-color);
  // font-weight: 500;
}
// .sidebar-group .sidebar-links li{
//   border-left-color: var(--theme-color);
// }