/* 由少数派CSS改编----for GitBook。备注：修改时，必须确保CSS文件中的标签名称与转换工具/平台转换后的HTML文档内标签名称一致 */ 
/* 声明文档编码为UTF-8（同时，文档按声明的编码格式存储）*/
@charset "utf-8";

/* 滚动条：仅适用于Chrome内核的浏览器（IE的写法不同）.默认的滚动条太丑了！  
============================================================================= */
::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 10px;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 10px;
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: #A9A9A9;
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: #EDEDED;
}

/* 大纲菜单：由于菜单的间隔继承了列表等标签的设置，导致行距过宽，所以重修调整  
============================================================================= */
/* 调整大纲背景色*/
.book-summary{
	background:#F0FFF0;
}
/* 调整大纲的标题（备注分隔行，没有链接）：class="header" */
.book-summary ul.summary li.header {
    padding: 1px 8px;
	margin: 1px;
    text-transform: uppercase;
    color: #800080;
	font-weight: bolder;
}
/* 调整大纲的章节（可点击链接）：class="chapter" */
.book-summary ul.summary li{
	margin-bottom:0.1em;
	margin-top:0.1em;
	margin: 1px;
}
/* 调整大纲的章节的链接：<a>标签 */
.book-summary ul.summary li a,.book-summary ul.summary li span{
	padding-left: 20px;
	padding: 2px;
}
/* 调整文档的文章（章节块）：class="articles" */
.book-summary ul.summary li ul{
	margin-bottom:0.1em;
	margin-top:0.1em;
}
/* 调整折叠箭头（<i>标签）：class="exc-trigger fa" */
.book-summary ul.summary li .exc-trigger{
	top:6px;
	left: 18px;
}

/* @font-face：自定义字体
============================================================================= */
@font-face {
	font-family:"ht";
	src:local("Microsoft YaHei");       /* 本地雅黑 */                 
}

/* 主体BODY：<body>元素表示正文（文档内容）
============================================================================= */
.book-body {
	font-family: Arial, "Microsoft YaHei", "MS Sans Serif";   /* 字体 */
	font-size: 16px;                        /* 字体大小 */
	color:#333000;                          /* 字体颜色 */
	/* line-height: 1.8em;                     行高 */
	max-width: 100%;                       /* 最大宽度 */
	margin: 0;                              /* 外边距：上下左右都是0px，即正文盒子外面没有边距  */
	padding: 3%;                           /* 内边距：上下左右都是父元素（正文盒子）宽度的3%，即正文内容占据正文盒子的97%的空间  */
	background:#F5F5F5;                     /* 背景色 */
	--select-text-bg-color:#66FF66;         /* 文本被选择时的背景颜色 */
	-webkit-font-smoothing: antialiased;    /* 字体抗锯齿渲染：在MacOS平台才有效果 */
}

/* 设置悬浮导航插件anchor-navigation-ex-navbar
============================================================================= */
#anchor-navigation-ex-navbar{
	right: 16px;
    top: 128px;
	padding:5px 8px;
}
#anchorNavigationExGoTop{
	right: 16px;
	bottom: 98px;
	padding:5px 8px;
}

/* 标题HEADERS：h1, h2, h3, h4, h5, h6标签元素表示不同大小的HTML标题，通常h1作为title
=============================================================================*/
.markdown-section h1{
	margin-top: 0.3em;
	margin-bottom: 2.3em;
}
h1 {
	background: #F5DEB3;
	padding: 6% 5px 30px 5px;
	margin-bottom: 1.8em;                   /* 下外边距 */
	border-style: none double none double;
	border-width: 0px 13px 0px 13px;
	border-color: teal;
	border-left-color: teal;
	color: teal;
	font-size: 2.2em;
	font-weight: 700;                       /* 字体粗细 */
	line-height: 1.1;
	text-align: center;                     /* 文本对齐：居中 */
	font-family: "ht";
}

h2, h3, h4, h5, h6 {
	line-height: 1.5em;
	margin-top: 2.2em;
	margin-bottom: 4px;
}
h2 {
	border-bottom: 2px solid teal;
	color:#333000;
	text-align: left;
	font-family: "ht";
	font-size: 1.4em;
	margin: 20px 10px 20px 0;
	padding-left: 0px;                      /* 左内边距 */
	font-weight: 700;
	line-height: 1.4;
}
h3 {
	font-weight: 700;
	font-size: 1.2em;
	line-height: 1.4;
	margin: 10px 0 5px;
	padding-top: 10px;
}
h4 {
	font-weight: 700;
	/* text-transform: uppercase;              控制文本的大小写：uppercase 大写 */
	font-size: 1.1em;
	line-height: 1.4;
	margin: 10px 0 5px;
	padding-top: 10px
}
h5, h6 {
	font-size: 1em;
}
h5 {
	font-weight: bold;
}
h6 {
	font-weight: normal;
	color: #AAA;
}

/* 图像IMAGES：<img>元素向网页中嵌入一幅图像（从技术上讲，<img> 标签并不会在网页中插入图像，而是从网页上链接图像。<img> 标签创建的是被引用图像的占位空间。）
=============================================================================*/
img {
	max-width: 100%;                     /* 最大宽度 */
	height: auto;
	border-radius: 5px;                  /* 边框圆角 */
	/* display: block;                      规定元素生成的显示框类型：block 块级元素 */
	margin-top: 0px;
	margin-bottom: 0px;
	/* transform-origin: 0 0;               控制变化的中心点（左上角） */
    /* cursor: pointer;                     指定光标为鼠标指针 */
    /* transition: all 0.6s;                所有的属性变化在0.6s的时间段内完成 */
}
/* 鼠标放到图片上时图片按比例放大1.6倍 */ 
/* img:hover {
  transform: scale(1.6);                 
} */ 
/* 图像的备注 */
figure {
	margin: 1em 0;
}
/* 图像的标题 */
figcaption {
	font-size: 0.75em;
	padding:0.5em 2em;
	margin-bottom: 2em;
}
figure img {
	margin-bottom: 0px;
}

/* 列表LISTS：ul标签元素表示无序列表；ol标签元素表示有序列表；dl标签元素表示定义列表；dt标签元素表示定义列表中的条目；dd标签元素表示定义列表中的项目的定义部分
=============================================================================*/
dl,ol,ul {
	margin-top: 12px;
	margin-bottom: 20px;
	padding-left: 5%;
	line-height: 1.8;
}
ol p, ul p {
	margin-bottom: 0px;
}
li {
	margin-bottom: 0.75em;
	margin-top: 0.75em;
}
ol#footnotes {
	font-size: 0.95em;
	padding-top: 1em;
	margin-top: 1em;
	margin-left: 0;
	border-top: 1px solid #eaeaea;
	counter-reset: footer-counter;
	list-style: none;
	color: #555;
	padding-left: 5%;
	margin: 20px 0;
}
ol#footnotes li {
	margin-bottom: 10px;
	margin-left: 16px;
	font-weight: 400;
	line-height: 2;
	list-style-type: none;
}
ol#footnotes li:before {
	content: counter(footer-counter) ". ";
	counter-increment: footer-counter;
	font-weight: 800;
	font-size: .95em;
}

/* 段落：<p>元素表示块级元素，<div>也是表示块级元素，<span>表示内联元素；
块级元素：独占一行，width和height起作用；内联元素：width和heigh不起作用，不占一行
=============================================================================*/
p {
	/* text-indent: 2em;                  文本缩进 */
	margin: 0 0 20px;
	padding: 0;
	line-height: 1.8;
}
li p {
	text-indent: 0;
}

/* 超连接LINKS：<a>元素表示超链接
=============================================================================*/
a {
	color: #4183C4;
	text-decoration: none;              /* 文本修饰：none表示不修饰 */
	font-style: italic;                 /* 字体类型：斜体 */
}
a:focus {                               /* :focus选择器表示获得焦点的指定元素 */
    outline: thin dotted;               /* 轮廓线：3个参数（可缺省）：颜色（缺省）、样式（dotted）、宽度（thin） */
}
a:active,                               /* :active选择器表示选择活动的指定元素 */
a:hover {                               /* :hover选择器表示鼠标指针悬浮在指定元素上时 */
    outline: 0;
    color: #cb4b16;                     /* 鼠标悬停时，链接的颜色 */
    text-decoration: underline;         /* 文本修饰：underline表示文本下定义一条下划线 */
}
/*a:visited {                             /* :visited选择器表示选择已访问的指定元素 
  color: #cb4b16;
}*/

/* 引用QUOTES：<blockquote> 标签定义块引用
=============================================================================*/
.markdown-section blockquote {
	font-size: 1em;
	font-style: normal;
	padding: 10px 18px;
	margin: 0 0 15px;
	position: relative;                 /* 定位：relative表示相对 */
	line-height: 1.8;
	text-indent: 0;                     /* 规定文本块中首行文本的缩进 */
	border-left: 4px solid #0066FF;     /* 边框（左）设置  */
	background-color: #CCFFFF;
	color: #333000;
	overflow: auto;
}
.markdown-section blockquote pre, .markdown-section blockquote code{
	background-color: #CCFFFF;
}

/* 强调：<strong> 标签和 <em> 标签一样，用于强调文本，但它强调的程度更强一些。用斜体来显示 <dfn> 中的文本。<del>定义文档中已被删除的文本。
=============================================================================*/
strong, dfn {
	font-weight: 700;
}
em, dfn {
	font-style: italic;
	font-weight: 400;
}
del {
	text-decoration: line-through;
}

/* 源代码CODE：
<pre>标签表示在其中的内容保留空格和换行，即保留原来就有的格式信息。
<code>标签表示在其中的内容是源代码，包含代码或代码块。
在Typora编辑器中，必须使用<.md-fences>标签表示代码块（底色占据正文宽度）
<tt>标签表示代码（底色占据代码宽度）
<kbd>标签定义键盘文本，表示文本是从键盘上键入的。
<code>只是说明这是源代码，<pre>用来保留原格式。这两个HTML元素组合在一起，完美实现在HTML网页中显示源代码的功能。
=============================================================================*/
/* <code>元素表示源代码，包含代码或代码块。在Typora编辑器中，必须使用<.md-fences>标签表示代码块。在其它编辑器中，代码块依然使用<code> */
.markdown-section pre,.markdown-section code {
	background-color: #DCDCDC;
	border-radius: 4px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	padding: 0px 4px;
	font-size: 100%;
}
.markdown-section code {
	color: red;
	background-color: #DCDCDC;
}
.markdown-section pre {
	max-height: 380px;                     /* 设置元素的最大高度：配合overflow属性一起使用，若超出高度，则自动生成滚动条*/
	overflow: auto;                        /* 当内容溢出元素框时的处理：auto表示若内容溢出，则浏览器会显示滚动条以便查看其余的内容  */  
}
.markdown-section pre code {
	color: #000000;
	white-space: pre;                        /* 元素内的空白的处理：pre表示保留空白，即文字自动换行（在源码中的换行作为空格处理）  */
	background-color: transparent;
}
/* 调整代码块内的复制插件 */
.code-wrapper i{
	color: #000000;
	right: 23px;
    top: 1em;
}

/* TABLES：<table> 标签定义 HTML 表格。简单的 HTML 表格由table元素以及一个或多个tr、th或td元素组成。
tr元素定义表格行，th元素定义表头，td元素定义表格单元。
=============================================================================*/
.markdown-section table {
  border-collapse:collapse;             /* 边框合并：collapse表示如果可能，边框会合并为一个单一的边框 */ 
  border-spacing: 0;
  width: 100%;                          /* 设置元素的宽度：基于包含块（父元素）宽度的百分比宽度 */
  border: 1px solid #000000;
  } 
.markdown-section table th {
  font-weight: bold;
  text-align: center;                   /* 文本对齐方式 */
  padding-top:3px;
  padding-bottom:2px;
  background-color:#999999;
  color:#000000;
  font-size: 14px;                      /* 字体大小 */
}
.markdown-section table td, .markdown-section table th{
  border: 1px solid #000000;
  padding: 3px 6px;
}
.markdown-section table tr {
  font-size: 13px;                        /* 字体大小 */
  border-top: 1px solid #888888;
  background-color: #fff;                /* 表格的行的背景色 */
}
.markdown-section table tr:nth-child(2n) {
  background-color: #f8f8f8;             /* 表格的偶数行的背景色 */
}
.markdown-section table tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.markdown-section table td:first-child, table th:first-child {
    border-left: none;
}
.markdown-section table th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}
.markdown-section table th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}
.markdown-section table th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.markdown-section table tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}
.markdown-section table tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

/* HORIZONTAL RULES：<hr> 标签在 HTML 页面中创建一条水平分隔线
=============================================================================*/
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}

/* @keyframes：定义动画的格式 */
@keyframes highfade {
	0% { background-color: none; }
	20% { background-color: yellow; }
	100% { background-color: none; }
}
@-webkit-keyframes highfade {
	0% { background-color: none; }
	20% { background-color: yellow; }
	100% { background-color: none; }
}
a:target, ol#footnotes li:target, sup a:target {
	animation-name: highfade;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	-webkit-animation-name: highfade;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
}
a:target {
	border:0;
	outline: 0;}
	animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
}
a:target {
	border:0;
	outline: 0;}tion-iteration-count: 1; -webkit-animation-timing-function: ease-in-out; } 
a:target {border:0;outline: 0;}
