/*
 * @name: bilibili外链播放器的样式
 *
 * @year: 2020.11.16
 * @discription: 使用时html需要<div class="btv"><iframe></div>
 *
*/

.btv {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 75%;
}
    
.btv iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}


/*
 * 滚动条样式
 *
 * @Year: 2020.11.18
*/
 
::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
	height: 10px;
}
::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	/* border-radius: 10px; */
	/* -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2); */
	background: #c1c1c1;
}
::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	/* -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2); */
	/* border-radius: 10px; */
	background: #EDEDED;
}

/*
 * book-summary的样式 文档大纲 文档目录
 *
 * @Year: 2020.11.18
*/
.book-summary ul.summary li.header {
  /* height: 40px; */
  /* line-height: 50px; */
  /* padding-left: 10px; */
  font-size: 14px;
  font-weight: 600;
  color: #939da3;
}

.book-summary ul.summary li.active {
  border-right: 3px solid #006996;
  background: rgba(229, 236, 242, 0.48);
}

.book-summary ul.summary li.active > a {
  color: #006996;
  text-decoration: none;
}

/*
 * markdown H1 H2 H3 H4 样式
 *
 * 样式修改自 Typora Misty Light Windows 主题
 * @Year: 2020.11.20
*/
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
  position: relative;
  margin-top: 1.8rem;
  margin-bottom: 1rem;
  line-height: 1.4;
  cursor: text;
  /* color: #142331 */
}

.markdown-section h1 {
  /* text-align: center; */
  padding-bottom: .3em;
  font-size: 2.25em;
  line-height: 1.2;
  margin: 1em auto 1.2em
}
/* .markdown-section h1:after {
  border-bottom: 2px dashed #2674ba;
  content: '';
  width: 100%;
  display: block;
  margin: .2em auto 0;
  height: 2px
} */
.markdown-section h2 {
  font-size: 1.75em;
  /* padding-left: 9px; */
  line-height: 1.4;
  /* border-left: 6px solid #cce5ff; */
  /* border-left: 6px solid #0099cc */
}
.markdown-section h2:before {
    /* display: inline-block; */
    content: '';
    vertical-align: middle;
    border-right: 6px solid #0099cc;
    /* width: 20px; */
    margin-right: 8px;
    margin-left: 0;
    padding-left: 0;
    height: auto;
    margin-bottom: .18em;
}
.markdown-section h3 {
  font-size: 1.5em;
  line-height: 1.43
}
.markdown-section h3:before {
  border-radius: 50%;
  /* background-color: #9ed0ff; */
  background-color: #f77a0b;
  content: '';
  width: 6px;
  display: inline-block;
  height: 6px;
  vertical-align: middle;
  margin-bottom: .18em;
  margin-right: 8px 
}
.markdown-section h4 {
  font-size: 1.25em
}
.markdown-section h4:before {
  /* background-color: #9ed0ff; */
  background-color:#662d91;
  content: '';
  width: 6px;
  display: inline-block;
  height: 2px;
  vertical-align: middle;
  margin-bottom: .18em;
  margin-right: 8px
}

